body {
  text-align: center;
}
#section-1 {
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 97vh;
  padding-top: 200px;
  padding-bottom: 20px;
}
#mouse-click {
  padding-top: 100px;
}
#section-2 {
  padding-top: 30px;
  color: black;
}
#section-3 {
  padding-top: 10vh;
  color: white;
  background-image: url("../img/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
